<ion-header>
  <ion-navbar>
    <ion-title>
      Data
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-card *ngFor="let item of arrDatahead; let i = index">
    <ion-card-header>
      Date: {{item.date}}
    </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
          <ion-col col-12 align-self: center><p>Cash Earned :{{item.cash}}</p></ion-col>
          </ion-row>
          <ion-row>
        <ion-col col-12 align-self: center><p>Banked Cash:{{item.bank}}</p></ion-col>
          </ion-row>
          <ion-row>
        <ion-col col-12 align-self: center><p >Total Earned:{{item.total}}</p></ion-col>
      </ion-row>
          <ion-row>
            <ion-col col-6>
                 <button (click)="removeTask(item.$key)"ion-button  color="danger" full> Delete </button>
            </ion-col>
            <ion-col col-6>
              <button (click)="share(item.date,item.total,item.bank,item.cash)" ion-button  full>Share</button>
            </ion-col>
          </ion-row>
        </ion-grid>

        </ion-card-content>
  </ion-card>
<!--
  <ion-list>

     <ion-item *ngFor="let task of paysum | async">

       <input type="text" [(ngModel)]="task.Date">

       <p > {{task.Date}}</p>
     </ion-item>

   </ion-list>
-->

</ion-content>
